.dwslgf-form > div {
	margin-bottom: 2em;
}

.dwslgf-form .form-msg {
	color: #FFFFFF;
	padding: 1em;
}

.dwslgf-form .error {
	background-color: #980000;
}

.dwslgf-form .success {
	background-color: #259832;
}